<template>
  <div @click="addition" class="fullscreen">
    <h1 class="thin-font no-touch">{{increment}}</h1>
    <div class="vertical-center no-touch thin-font big-font">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      increment: 0
    };
  },
  methods: {
    addition() {
      this.increment++;
      this.$emit("incremented", this.increment);
    }
  }
};
</script>

<style>
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
 background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: popupBG 10s ease infinite;
  animation: popupBG 10s ease infinite;

  z-index: 5;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes popupBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes popupBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.vertical-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>