<template>
  <div id="app">
    <circle-slider
      class="time-slider"
      v-model="sliderValue"
      :side="200"
      :min="0"
      :max="7200"
      :step-size="10"
      :circle-width="8"
      :progress-width="12"
      :knob-radius="15"
      circle-color="#edeff0"
      progress-color="#00c7ff"
      knob-color="#ffffff"
    ></circle-slider>
    <div v-if="showincemitted">
      <h1 class="thin-font">You were distracted: {{incemitted}} times</h1>
    </div>
    <div class="medtimer">
      <h2 class="text-font no-touch">Meditate for:</h2>
      <h2 class="text-font no-touch">{{ timeformatted }}</h2>
    </div>

    <div v-if="meditationstart">
      <popup @incremented="updateInc">
        <h1>{{toTime}}</h1>
      </popup>
    </div>

    <svg
      @click="countDown"
      :disabled="countdownstart"
      width="50px"
      height="50px"
      class="start-btn"
    >
      <polygon points="0 50, 0 0, 50 25" style="fill:white;" />
    </svg>
  </div>
</template>

<script>
import Popup from "./components/Popup.vue";
import NoSleep from "nosleep.js";
export default {
  name: "app",
  components: { Popup },
  data() {
    return {
      sliderValue: 0,
      toTime: 0,
      timeformatted: "00:00:00",
      meditationstart: false,

      countdownstart: false,
      incemitted: 0,
      showincemitted: false
    };
  },
  methods: {
    updateInc(e) {
      this.incemitted = e;
    },

    s_to_hhmm(timeinseconds) {
      return new Date(timeinseconds * 1000).toISOString().substr(11, 8);
    },

    countDown() {
      var noSleep = new NoSleep();
      noSleep.enable();
      this.meditationstart = !this.meditationstart;

      this.toTime = this.timeformatted;
      var counter = this.sliderValue;
      var ref = this;

      setInterval(function() {
        counter--;
        if (counter >= 0) {
          ref.toTime = ref.s_to_hhmm(counter);
        }

        if (counter === 0) {
          ref.meditationstart = !ref.meditationstart;

          ref.showincemitted = true;

          var chime = new Audio(require("./assets/chime.mp3"));

          chime.pause();
          chime.currentTime = 0;
          var nopromise = {
            catch: new Function()
          };
          (chime.play() || nopromise).catch(function() {});
          noSleep.disable();
        }
      }, 1000);
    }
  },
  watch: {
    sliderValue() {
      this.timeformatted = this.s_to_hhmm(this.sliderValue);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

html {
  height: 100vh;
  /* background: linear-gradient(
    90deg,
    rgba(255, 0, 52, 1) 0%,
    rgba(255, 0, 181, 1) 100%
  ); */

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.time-slider {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.start-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.medtimer {
  font-family: "Courier New", Courier, monospace;
  color: #ffff;
  position: fixed;
  top: 80%;
  left: 50%;

  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-align: center;
}
.text-font {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.thin-font {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

.big-font h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  color: white;
}

.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>

